*{
    box-sizing: border-box;
}

header {
    height: 80px;
    background-color: rgb(216, 252, 250);
    margin: auto;
    h1 {
        text-align: center;
        padding: 20px;
    }
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 3rem;
}
